<div class="jumbotron">
    <div class="container">
        <h3>Students</h3>
    </div>
    
    
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-5 mt-2">
                        <h5>List of Students</h5> 
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-outline-secondary" (click)="toggleGetByStudies()">By Studies</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success" (click)="getStudents()">Refresh</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info" (click)="toggleAddStudent()">Add</button>
                    </div>
                </div>
            </div>
            <ul class="list-group">
                <li *ngFor="let student of studentsList; let studentIndex = index"
                class="list-group-item list-group-item-action"
                (click)="showStudent(studentIndex)">
                {{ student.name }}
                </li>
            </ul>
        </div>
    </div>


    <div class="card mt-4" *ngIf="visibleGetByStudies">
        <div class="card-body">
            <div class="card-header">
                <div class="row mt-3"> 
                    <form class="mt-3" [formGroup]="getByStudiesForm" (ngSubmit)="getStudentsByStudies()">
                        <div class="row">
                            <div class="col-md-5 mt-1">
                                <h5>Students by Studies:</h5>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input [class.is-invalid]="getByStudiesForm.get('getByStudiesInput').touched && getByStudiesForm.get('getByStudiesInput').invalid"
                                    type="text" class="form-control" formControlName="getByStudiesInput" placeholder=" Enter Studies (Degree)">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button class="btn btn-outline-dark" type="submit" [disabled]="!getByStudiesForm.valid">Find</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <ul class="list-group">
                <li *ngFor="let student of studentsListByStudies; let studentindex = index"
                class="list-group-item list-group-item-action"
                (click)="showStudent(studentindex)">
                {{ student.name }}
                </li>
            </ul>
            <div class="row mt-3">
                <div class="span6" style="float: none; margin: 0 auto;">
                    <button class="btn btn-danger" (click)="toggleGetByStudies()">Return</button>
                </div>
            </div>
        </div>
    </div>


    <div class="card mt-4" *ngIf="visibleSelectedStudent">
        <div class="card-body">
            <h5>Selected Student</h5>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action mt-2">ID: {{selectedStudent._id}}</li>
                <li class="list-group-item list-group-item-action">Name: {{selectedStudent.name}}</li>
                <li class="list-group-item list-group-item-action">Address: {{selectedStudent.address}}</li>
                <div class="row">
                    <div class="col">
                        <label class="mt-3">Phones:</label>
                        <li *ngFor="let phone of selectedStudent.phones" class="list-group-item list-group-item-action">
                        {{phone.name}}: {{phone.number}}
                        </li>
                    </div>
                    <div class="col">
                        <label class="mt-3">Studies:</label>
                        <li *ngFor="let study of selectedStudent.studies" class="list-group-item list-group-item-action">
                        {{study}}
                        </li>
                    </div>
                </div>
            </ul>
            <div class="row mt-3">
                <div class="span6" style="float: none; margin: 0 auto;">
                    <button class="btn btn-danger" (click)="toggleSelectedStudent()">Return</button>
                </div>
            </div>
        </div>
    </div>


    <div class="card mt-4" *ngIf="visibleAddStudent">
        <div class="card-body">
            <h5>Add a Student</h5>      
            <form class="mt-4" [formGroup]="addStudentForm" (ngSubmit)="addStudent()">
                <div class="form-group">
                    <label>Name</label>
                    <input [class.is-invalid]="addStudentForm.get('studentNameInput').touched && addStudentForm.get('studentNameInput').invalid" 
                    type="text" class="form-control" formControlName="studentNameInput" placeholder="Enter Student name">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input [class.is-invalid]="addStudentForm.get('studentAddressInput').touched && addStudentForm.get('studentAddressInput').invalid"
                    type="text" class="form-control" formControlName="studentAddressInput" placeholder="Enter Student address">
                </div>
                <div class="form-group" id="phoneElement1">
                    <div class="row">
                        <div class="col-10">
                            <label>Phones:</label>
                            <hr/>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-outline-dark" (click)="addPhoneForm()">Add</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <label>Name</label>
                            <input [class.is-invalid]="addStudentForm.get('studentPhoneNameInput').touched && addStudentForm.get('studentPhoneNameInput').invalid"
                            type="text" class="form-control" formControlName="studentPhoneNameInput" placeholder="Enter name">
                        </div>
                        <div class="col">
                            <label>Number</label>
                            <input [class.is-invalid]="addStudentForm.get('studentPhoneNumberInput').touched && addStudentForm.get('studentPhoneNumberInput').invalid"
                            type="text" class="form-control" formControlName="studentPhoneNumberInput" placeholder="Enter number">
                        </div>
                    </div>
                </div>
                <div class="form-group" id="studyElement1">
                    <div class="row mb-2">
                        <div class="col-10">
                            <label>Studies (Degrees):</label>
                            <hr/>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-outline-dark" (click)="addStudyForm()" id="studentStudy">Add</button>
                        </div>
                    </div>
                    <input [class.is-invalid]="addStudentForm.get('studentStudyInput').touched && addStudentForm.get('studentStudyInput').invalid"
                    type="text" class="form-control" formControlName="studentStudyInput" placeholder="Enter study">
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button class="btn btn-success" type="submit" [disabled]="!addStudentForm.valid">Create Student</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-danger" (click)="toggleAddStudent()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>