<div class="jumbotron">   
    <div class="container">
        <h3>Subjects</h3>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8 mt-2">
                        <h5>List of Subjects</h5> 
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success" (click)="getSubjects()">Refresh</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info" (click)="toggleAddSubject()" >Add</button>
                    </div>
                </div>
            </div>
            <ul class="list-group">
                <li *ngFor="let subject of subjectsList; let studentindex = index"
                class="list-group-item list-group-item-action"
                (click)="showSubject(studentindex)">
                {{ subject.name }}
                </li>
            </ul>
        </div>
    </div>

    <div class="card mt-4" *ngIf="visibleSelectedSubject">
        <div class="card-body">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8 mt-2">
                        <h5>Selected Subject</h5>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-outline-info" (click)="toggleAddStudentToSubject()">Add a Student</button> 
                    </div>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action">{{selectedSubject.name}}</li>
                <label class="mt-3">Students:</label>
                <li *ngFor="let student of selectedSubject.students"
                    class="list-group-item list-group-item-action">
                    {{ student.name }}
                </li>
            </ul>
            <div class="row mt-3">
                <div class="span6" style="float: none; margin: 0 auto;">
                    <button class="btn btn-danger" (click)="toggleSelectedSubject()">Return</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4" *ngIf="visibleAddStudentToSubject">
        <div class="card-body">
            <h5>Add a Student to {{selectedSubject.name}}</h5>
            <form class="mt-4" [formGroup]="addStudentToSubjectForm" (ngSubmit)="addStudentToSubject()">
                <div class="form-group">
                    <label>Student ID</label>
                    <input [class.is-invalid]="addStudentToSubjectForm.get('studentIdInput').touched && addStudentToSubjectForm.get('studentIdInput').invalid"
                    type="text" class="form-control" formControlName="studentIdInput" placeholder="Enter Student ID (You can check it by clicking one in the Students list)">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <button type="submit" [disabled]="!addStudentToSubjectForm.valid" class="btn btn-success">Add Student</button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-danger" (click)="toggleAddStudentToSubject()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card mt-4" *ngIf="visibleAddSubject">
        <div class="card-body">
                <h5>Add a Subject</h5>
                <form class="mt-4 mt-2" [formGroup]="addSubjectForm" (ngSubmit)="addSubject()">
                    <div class="form-group">
                        <label>Name</label>
                        <input [class.is-invalid]="addSubjectForm.get('subjectNameInput').touched && addSubjectForm.get('subjectNameInput').invalid"
                        type="text" class="form-control" formControlName="subjectNameInput" placeholder="Enter Subject name">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-10">
                                <button type="submit" class="btn btn-success" [disabled]="!addSubjectForm.valid">Create Subject</button>
                            </div>
                             <div class="col-md-2">
                                <button class="btn btn-danger" (click)="toggleAddSubject()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>

</div>