/* You can add global styles to this file, and also import other style files */
body {
    background: #2BC0E4;
    background: -webkit-linear-gradient(to top, #EAECC6, #2BC0E4);
    background: linear-gradient(to top, #EAECC6, #2BC0E4);
    height: 100vh;
}